{% extends "base.html" %}

{% block content %}

<h1 class="text-center p-4">Community</h1>

<div class="container">

  <div class="card text-center">
    <div class="card-header bg-dark text-white">
      <h4>Existing Communities</h4>
    </div>

    <div class="card-body">
      <div class="text-start px-4">
        {% for c in communities %}
        <div>
          <a class="text-danger modify-community" id="{{c.id}}" href="/delete/community/{{c.id}}"
            style="text-decoration: none;">
            <i class="bi bi-x-circle icon-red"></i>
          </a>
          {{c.community_name}}
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="card-footer">
      <form action="/super/new-community" method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        <div>
          {{field.label}}
          {{field}}
        </div>
        {% endfor %}
        <div class="p-2">
          <button class="btn btn-primary">Add community</button>
        </div>
      </form>
    </div>

  </div>

</div>

{% endblock content %}



{% block custom_script %}

<script src="{{ url_for('static', filename = '/js/deleteModel.js')}}"></script>

{% endblock %}