{% extends "base.html" %}

{% block content %}

  <h1 class="text-center p-4" >🔗 Super User Links 🔗</h1>

  <div class="col-md-12 p-4 text-center editor-only invisible">

    <div class="col-md-8 mx-auto p-2">
      <a href="/super/new-community" class="btn btn-primary">Communities</a>
    </div>

    <div class="col-md-8 mx-auto p-2">
      <a href="/super/drafters" class="btn btn-primary">TEC-PM's</a>
    </div>

    <div class="col-md-8 mx-auto p-2">
      <a href="/super/engineers" class="btn btn-primary">Engineers</a>
    </div>

    <div class="col-md-8 mx-auto p-2">
      <a href="/super/platengineers" class="btn btn-primary">Plat Engineers</a>
    </div>

    <div class="col-md-8 mx-auto p-2">
      <a href="/super/jurisdictions" class="btn btn-primary">Jurisdictions</a>
    </div>

  </div>


{% endblock content %}