{% extends "base.html" %} {% block content %}

<!-- <img id="lines" src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-v1.0.1/img/shapes/pattern-lines.svg" alt="pattern-lines" class="position-absolute opacity-4 start-0"> -->
<h3 class="m-2 text-center">⭕️ Lot Specifics</h3>
<div class="container-md p-3 lots-table">

  <table class="table table-bordered" id="table1">
    <thead class="table-dark">
      <tr>
        <th class="text-center" colspan="7">Lot Info</th>
        <th class="text-center" colspan="4">Drafting Info</th>
        <th class="text-center" colspan="4">Engineering Info</th>
        <th class="text-center" colspan="4">Plat Info</th>
        <th class="text-center" colspan="4">Permit Info Info</th>
        <th class="text-center" colspan="2">BBP Info</th>
        <th class="text-center" colspan="1">Notes</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <!-- <th>Lot Id</th> -->
        <th>Community</th>
        <th>Section</th>
        <th>Lot_number</th>
        <th>Product</th>
        <th>Elevation</th>
        <th>contract Date</th>

        <th>Assigned To</th>
        <th>Draft Deadline</th>
        <th>Actual</th>
        <th>Time</th>

        <th>Eng.</th>
        <th>Eng. Sent</th>
        <th>Eng. Planned</th>
        <th>Eng. Actual</th>

        <th>Plat Eng.</th>
        <th>Plat Sent</th>
        <th>Plat Planned</th>
        <th>Plat Actual</th>

        <th>Permit Jurisdictin</th>
        <th>Permit Planned</th>
        <th>Permit Actual</th>
        <th>Permit Received</th>

        <th>BBQ Planned</th>
        <th>BBQ Actual</th>

        <th>Notes</th>
      </tr>
    </thead>

    <tbody>
      {% for lot in lot_data %}
      <tr class="">
        <!--? Modify Column -->
        <td>
          <a type="button" class="btn btn-success modify" href="/">
          <i class="bi bi-pencil-square"></i> Edit</a>
        </td>
        <!--? All Columns -->
          <td>
            {{lot.id}}
          </td>
          <td>
            {{lot.lot_name}}
          </td>
          <td class="td-date">
              {{lot.lot_date}}
          </td>
          <td class="td-date">
              {{lot.lot_date}}
          </td>
          <td class="td-date">
              {{lot.lot_date}}
          </td>
          <td class="td-date">
              {{lot.lot_date}}
          </td>
          <td class="td-date">
              {{lot.lot_date}}
          </td>
          <td class="td-date">
              {{lot.lot_date}}
          </td>
          <td class="td-date">
              {{lot.lot_date}}
          </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
  
<div class="col-md-12 p-4 text-center">
  <div class="col-md-8 mx-auto">
    <a href="/lot/new" class="btn btn-primary">
      <i class="bi bi-plus-circle"></i> New Lot</a>
    </div>
  </div>

{% endblock content %}
