{% extends "base.html" %}

{% block content %}



  <!-- <h1 class="m-2 text-center"> Sign In </h1> -->

  <section class="vh-100" style="background-color: #2e2b2b; height: 95vh;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img
                  src=""
                  alt=""
                  class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
                />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <!-- Actual Sign up form -->
                  <form action="/register" method="post">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">⭕️ Eagle Console</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register with your Eagle Email</h5>
  
                    {{ form_data.hidden_tag() }}
                    {% for field in form_data if field.widget.input_type != 'hidden' %}
                    <div class="">
                      {{field(class_="form-control form-control-lg")}}
                      {{field.label(class_="form-label")}}
                    </div>
                    {% endfor %}

                    <!--! flash messages -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                          {% for category, message in messages %}
                          <p>
                            <span class="text-danger font-weight-bold">
                              {{category}}
                            </span>
                            <span class="text-danger">
                              {{message}}
                            </span>
                          </p>
                          {% endfor %}
                      {% endif %}
                    {% endwith %}


                    <button class="btn btn-success btn-lg btn-block"> Register </button>
                  </form>

  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}