{% extends "base.html" %} {% block content %}

<h3 class="p-2 text-center">⭕️ All Lot Specifics</h3>


<!--! Ag grid div -->
<div id="all-lotGrid" class="mx-2 px-4 ag-theme-alpine">
  <!-- spinner -->
  <div class="d-flex justify-content-center m-4" id="home-spinner" >
    <div class="spinner-border" role="status" style="width: 5rem; height: 5rem;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

</div>


<!--? print the above table -->
<div class="col-md-12 p-4 text-center">
  <div class="col-md-8 mx-auto">
    <a href="/" id="print-table" class="btn btn-dark">
      <i class="bi bi-filetype-pdf"></i> Print</a>
    </div>
</div>


{% endblock content %}

{% block custom_script %}

<script src="../static/js/all_lots_aggrid.js"></script>

{% endblock custom_script %}