{% extends "base.html" %}

{% block content %}

<h3 class="text-center m-2 p-4"> Compare Lots form</h3>

<div class="container mb-4 pb-4 compare-reports-form">

  <form action="/run-report" method="POSt" enctype="multipart/form-data" id="compare-report-form">

    <div class="form-group">
      <label class="form-label"  for="file-1">File 1</label>
      <div class="progress mb-1">
        <div id="file1-upload-progressbar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
      </div>
      <input type="file" class="form-control" name="file1" id="file-1" />
      <button id="file-1-upload" class="invisible btn btn-primary m-1">Upload</button>

      <br/>
      <br/>
      <label class="form-label" for="file-2">File 2</label>
      <div class="progress mb-1">
        <div id="file2-upload-progressbar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
      </div>
      <input type="file" class="form-control" name="file2" id="file-2" />
      <button id="file-2-upload" class="btn btn-primary m-1">Upload</button>
    </div>

    <button type="submit" class="btn btn-danger mt-4">Run Comparision</button>
  </form>

</div>



{% endblock content %}

{% block custom_script %}

<script src="{{ url_for('static', filename = 'js/compare_reports.js')}}"></script>
<!-- <script src="../static/js/new_lot_dates.js"></script> -->

{% endblock custom_script %}
