{% extends "base.html" %}
{% block content %}

<h3 class="text-center m-2 p-4"> ⚙️ Edit lot </h3>


<!--! Lot container -->
<div class="container-sm mb-4 pb-4">
  <form action="" method="POST">
    {{ lot.hidden_tag() }}
    {{ lot.csrf_token }}

    <div class="container">
      {% for field in lot if field.widget.input_type != 'hidden' %}
      <div class="row align-self-stretch">
        <div class="col-2">
          <p>{{field.label}}</p>
        </div>
        <div class="col-8">
          <p>{{field}}</p>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="text-center">
      <button class="btn btn-success modify-update">
        <i class="bi bi-check-circle-fill"></i> Confirm Changes</button>
    </div>

  </form>

  <form action="/" class="text-center mt-4">
    <button class="btn btn-danger modify-delete" id="modify-delete">
      <i class="bi bi-x-circle-fill"></i> Delete lot
    </button>
  </form>

</div>

{% endblock %}

{% block custom_script %}

<script src="{{ url_for('static', filename = '/js/deletelot.js')}}"></script>

{% endblock %}