{% extends "base.html" %}
{% block content %}

<!-- <img id="lines" src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-v1.0.1/img/shapes/pattern-lines.svg" alt="pattern-lines" class="position-absolute opacity-4 start-0"> -->
<h3 class="p-2 text-center">⭕️ Eagle Lot Specifics</h3>


<button type="button" class="btn btn-primary legendbtn" id="liveToastBtn">Show live toast</button>

<!--! Ag grid div -->
<div id="lotGrid" class="mx-2 px-4 ag-theme-alpine">
  <!-- spinner -->
  <div class="d-flex justify-content-center m-4" id="home-spinner">
    <div class="spinner-border" role="status" style="width: 5rem; height: 5rem;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>


</div>


<!--? print the above table -->
<div class="col-md-12 p-4 text-center">
  <div class="col-md-8 mx-auto">
    <a href="/" id="print-table" class="btn btn-dark">
      <i class="bi bi-cloud-download"></i> Download</a>
  </div>
</div>


<!--! Create new lot  -->
<div class="col-md-12 p-4 text-center editor-only invisible">
  <div class="col-md-8 mx-auto">
    <a href="/lot/new" class="btn btn-primary">
      <i class="bi bi-plus-circle"></i> New Lot</a>
  </div>
</div>


<!-- TOAST and LEGEND -->
<button type="button" class="btn btn-primary legendbtn" id="liveToastBtn">Show live toast</button>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
      <div class='my-legend'>
        <div class='legend-title'>Color Code Legend</div>
        <div class='legend-scale'>
          <ul class='legend-labels'>
            <li><span style='background:#F1EEF6;'></span>0 - 20%</li>
            <li><span style='background:#BDC9E1;'></span>40%</li>
            <li><span style='background:#74A9CF;'></span>60%</li>
            <li><span style='background:#2B8CBE;'></span>80%</li>
            <li><span style='background:#045A8D;'></span>100%</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TOAST and LEGEND -->

{% endblock %}


{% block custom_script %}
<!-- <script src="../static/js/script.js"></script> -->
<script src="{{ url_for('static', filename = '/js/homeaggrid.js')}}"></script>

{% endblock %}