{% extends "base.html" %}
{% block content %}

<!-- <img id="lines" src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-v1.0.1/img/shapes/pattern-lines.svg" alt="pattern-lines" class="position-absolute opacity-4 start-0"> -->

<h3 class="p-2 text-center">‼️ Released Lots </h3>




<!--! Ag grid div -->
<section>
  <div id="lotGrid" class="mx-2 px-4 ag-theme-alpine">
    <!-- spinner -->
    <div class="d-flex justify-content-center m-4" id="home-spinner">
      <div class="spinner-border" role="status" style="width: 5rem; height: 5rem;">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</section>



<!--? print the above table -->
<div class="col-md-12 p-4 text-center">
  <div class="col-md-8 mx-auto">
    <a href="/" id="print-table" class="btn btn-dark">
      <i class="bi bi-cloud-download"></i> Download</a>
  </div>
</div>




{% endblock %}


{% block custom_script %}
<!-- <script src="../static/js/script.js"></script> -->
<script src="{{ url_for('static', filename = 'js/released_lots_aggrid.js')}}"></script>

{% endblock %}