{% extends "base.html" %}

{% block content %}



  <!-- <h1 class="m-2 text-center"> Sign In </h1> -->

  <section class="login-box" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block image-box">
                <span class="helper">
                </span>
                  <img
                  src="../static/images/registerimage.jpg"
                  alt=""
                  class=""
                  />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <!-- Actual Sign up form -->
                  <form action="/register" method="post">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0">⭕️ Eagle Console</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register with your Eagle Email</h5>
  
                    {{ form_data.hidden_tag() }}
                    {% for field in form_data if field.widget.input_type != 'hidden' %}
                    <div class="">
                      {{field(class_="form-control form-control-lg")}}
                      {{field.label(class_="form-label")}}
                    </div>
                    {% endfor %}

                    <!--! flash messages -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                          {% for category, message in messages %}
                          <p>
                            <span class="text-danger font-weight-bold">
                              {{category}}
                            </span>
                            <span class="text-danger">
                              {{message}}
                            </span>
                          </p>
                          {% endfor %}
                      {% endif %}
                    {% endwith %}

                  <button class="my-2 btn btn-primary btn-lg btn-block"> Register </button>

                  <p class="mb-5 pb-lg-2 p-2">Already Registered? <a href="/sign-in" style="color: #393f81;">Log-In here</a></p>

                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}